biopython==1.79
captum==0.4.0
pytorch-lightning==1.3.8
transformers==4.30.0
torch==1.8.1
torch-cluster==1.5.9
torch-geometric==1.7.0
torch-scatter==2.0.7
torch-sparse==0.6.10
git+https://github.com/drorlab/gvp-pytorch
